body {
    font-family: Arial, sans-serif;
    background-color: #F1DEC6;
    color: #333;
    margin: 0;
    padding: 20px;
}

.user-icon i {
    width: 30px;
}

.arrow-icon {
    position: absolute;
    left: 50px;
    font-size: 32px;
    top: 120px;
}

.container {
    border-radius: 2%;
    padding-top: 30px;
    max-width: 500px;
    margin: auto;
    background-color: #F1DEC6;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 50px;
    color: #e98325;
    text-align: center;
    font-weight: bold;
}

h2 {
    margin-bottom: 150px;
    text-align: center;
    font-weight: bold;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 100px;
}

img {
    max-width: 80%;
    height: auto;
}