<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Use Case Specification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/use case specification/specification.css' %}">
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}"> 
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'asset/gologo.png' %}" alt="Logo">
            </div>
            <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button">
                    Pages
                </a>
                <ul class="dropdown-menu" id="dropdownMenu" aria-labelledby="pagesDropdown"
                        style="display: none;">
                        <li><a class="dropdown-item" href="{% url 'UseCaseDiagram' %}">Use Case Diagram</a></li>
                        <li><a class="dropdown-item" href="{% url 'Specification' %}">Use Case Specification</a></li>
                        <li><a class="dropdown-item" href="{% url 'input_class' %}">Class Diagram</a></li>
                        <li><a class="dropdown-item" href="{% url 'input_sequence' %}">Sequence Diagram</a>
                        </li></ul>
                        </li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">My Projects</a></li>
                </ul>
            <div class="user-icon">
                            <i class="fas fa-user"></i>
            </div>
        </nav>
    </header>

        <div class="arrow-icon">
            <i class="fas fa-arrow-left">   </i>
        </div>
        <h1 class="h1-spec">Use Case Specification  </h1>
        <h2 class="h2-spec">User Input  </h2>

        <div class="container-spec">
            <form id="useCaseForm" method="post" action="/save_specification/">
            {% csrf_token %}
                <table class="main-spec">
                    <tr>
                        <td>Use Case Name   </td>
                        <td>    <input type="text" placeholder = "Enter the Use Case Name" name="use_case_name">    </td>
                    </tr>
                    <tr>
                        <td>Actor   </td>
                        <td>    <input type="text" placeholder = "Enter the Actor Name" name="actor">   </td>
                    </tr>
                    <tr>
                        <td>Summary Description </td>
                        <td>    <textarea placeholder = "Enter the Summary Description" name="summary_description" rows="4">    </textarea> </td>
                    </tr>
                    <tr>
                        <td>Pre-Conditions  </td>
                        <td>    <textarea placeholder = "Enter the Pre-Conditions" name="pre_conditions" rows="4">  </textarea>   </td>
                    </tr>
                    <tr>
                        <td>Post-Conditions </td>
                        <td>    <textarea placeholder = "Enter the Post-Conditions" name="post_conditions" rows="4">    </textarea> </td>
                    </tr>
                </table>

                <!-- Container untuk Basic Path -->
                <div class="table-container-spec-spec">
                    <table id="basicPathTable">
                        <tr>
                            <th>    </th>
                            <td>Actor   </td>
                            <td>System  </td>
                        </tr>
                        <tr>
                            <td>Basic Path  </td>
                            <td>    <textarea name="basic_actor_step[]" rows="2"> </textarea>  </td>
                            <td>    <textarea name="basic_system_step[]" rows="2">    </textarea> </td>
                        </tr>
                    </table>
                    <!-- Baris tombol di bawah tabel -->
                    <div class="button-row-bottom-spec">
                        <a type="button" id="addBasicStepButton">   <i class='bx bxs-plus-circle'> </i> Add Step    </a>
                        <i class="fas fa-trash delete-icon-table " id="deleteBasicRow">  </i>
                    </div>
                </div>


                <!-- Container untuk Alternative Path -->
                <div class="table-container-spec">
                    <table id="alternativePathTable">
                        <tr>
                            <th>    </th>
                            <td>Actor   </td>
                            <td>System  </td>
                        </tr>
                        <tr>
                            <td>Alternative Path    </td>
                            <td>    <textarea name="alternative_actor_step[]" rows="2"> </textarea>  </td>
                            <td>    <textarea name="alternative_system_step[]" rows="2">    </textarea> </td>
                        </tr>
                    </table>
                    <div class="button-row-bottom-spec">
                        <a type="button" id="addAlternativeStepButton"> <i class='bx bxs-plus-circle'>   </i> Add Step  </a>
                        <i class="fas fa-trash delete-icon-table" id="deleteAlternativeRow">    </i>
                    </div>
                </div>

                <!-- Container untuk Exception Path -->
                <div class="table-container-spec">
                    <table id="exceptionPathTable">
                        <tr>
                            <th></th>
                            <td>Actor</td>
                            <td>System</td>
                        </tr>
                        <tr>
                            <td>Exception Path  </td>
                            <td><textarea name="exception_actor_step[]" rows="2"></textarea></td>
                            <td><textarea name="exception_system_step[]" rows="2"></textarea> </td>
                        </tr>
                    </table>
                    <div class="button-row-bottom-spec">
                        <a type="button" id="addExceptionStepButton">   <i class='bx bxs-plus-circle'> </i> Add Step    </a>
                        <i class="fas fa-trash delete-icon-table" id="deleteExceptionRow">  </i>
                    </div>
                </div>



                <div class="button-container-spec">
                    <div class="output-button-container d-flex justify-content-start mt-auto">
                        <button type="submit" class="btn btn-primary me-2" id="submitButton">Generate Activity Diagram</button>
                    </div>
                </div>



                </div>
            </form>
        </div>

    <script src="{% static 'JS/script.js' %}"></script>
    <script src="{% static 'JS/navbar.js' %}"></script>
</body>

</html>