<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generated Class Diagram</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'style/outputclass.css' %}">
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <header>
    {% include 'navbar.html' %}
  </header>

  <!-- Main Content -->
  <main>
    <h1>Generated <span>Class Diagram</span></h1>
    <div class="diagram-container">
      <img src="diagram.png" alt="Class Diagram">
    </div>
    <button class="back-button">Back to Use Case Diagram</button>
  </main>

  <script src="{% static 'JS/navbar.js' %}"></script>
</body>
</html>
