<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Class Diagram Input</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/inputclass.css' %}">
    <link rel="stylesheet" href="{% static 'style/Navbar.css' %}">
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
        <main>
            <h2>Input<br><span>Class Diagram</span></h2>
                <div class="form-container" id="class-container">
                    <!-- Kotak besar pertama akan ditambahkan lewat JavaScript -->
                </div>
            <button class="save-btn">Save         </button>

                <div id="connections-wrapper">
                    <div class="connection-container" id="connection-1">
                        <h3>Connection 1:         </h3>
                        <label>Path Name          </label>
                        <input type="text" placeholder="input path name" class="input-box">

                        <label>Relation 1         </label>
                        <select class="input-box">
                            <option>Choose relation       </option>
                        </select>

                        <div class="class-selection">
                            <label>Class Start        </label>
                            <select class="input-box">
                                <option>Choose class          </option>
                            </select>

                            <label>Class End          </label>
                            <select class="input-box">
                                <option>Choose class          </option>
                            </select>
                        </div>

                        <div class="relation-reverse">
                            <label>Relation 1 reverse         </label>
                            <select class="input-box">
                                <option>Choose reverse relation       </option>
                            </select>
                        </div>

                        <button class="add-connection-btn">+          </button>
                    </div>
                </div>

                <button class="generate-btn">Generate to Class Diagram     </button>

            </main>
    <script src="{% static 'JS/input.js' %}"></script>
    <script src="{% static 'JS/navbar.js' %}"></script>
</body>

</html>